# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/docker/vault/appRole.properties
/docker/vault/.cache/snowflake/ocsp_response_cache.json
