version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8
    steps:
      - checkout
  test:
    docker:
      - image: circleci/openjdk:8
    steps:
      - checkout
      - run: mvn verify
      - run: if [ -z "${CI_PULL_REQUEST}" ]; then mvn deploy -P deploy -s settings.xml; fi

      
dependencies:
  pre:
    - mvn dependency:go-offline
workflows:
  version: 2
  test-and-deploy:
    jobs:
      - test
      - deploy:
        filters:
          branches:
            only: master
