# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: vault-maven-plugin
logo: "/assets/images/Vault-Maven-Plugin-colored.png"
email: ozgunn.oz@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Vault Maven Plugin is a plugin that allows fetching secrets from vault during the maven build of your project.
baseurl: "/vault-maven-plugin" # the subpath of your site, e.g. /blog
url: "https://homeofthewizard.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  HomeofTheWizard

# Build settings
theme: just-the-docs
plugins:
  - github-pages
  - jemoji

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

color_scheme: dark

aux_links:
  "Vault Maven Plugin on GitHub":
    - "https://github.com/HomeOfTheWizard/vault-maven-plugin"

# Makes Aux links open in a new tab. Default is false
aux_links_new_tab: false

heading_anchors: true

callouts:
  warning:
    title: Warning
    color: red
  important:
    title: Important
    color: blue